<!-- Navbar -->
<!-- <app-navbar></app-navbar> -->

<div class="Background">

<!-- Image and Text Over it for presentable form -->
<div class="d-flex align-items-center img-bg" style="height: 600px; width: auto;">
    <div class="text-white" style="margin-left: 7rem;">
      <h1 class="display-3" style="font-size:80px; font-weight: bold;">Our <span style="color: #ec3f28;">PROJECTS</span></h1>
    </div>  
</div> 

<!-- Card contains navigation to add project , active and completed page-->
<div class="card col d-flex justify-content-center mx-auto border-light shadow p-3 mb-5 bg-white rounded" style="width: 30rem; margin-top: -6rem;">
  <h3 class="card-title fw-bold text-center">PROJECTS</h3>
  <div class="card-body justify-content-center"> 
    <div class="row">
      <div class="col-4 text-center ">
        <a routerLink="/addproject">
          <!-- <ngx-spinner bdOpacity=0.9 size="medium" color="#EF6351" type="ball-scale-multiple"></ngx-spinner> -->
        <i class="fas fa-plus fa-3x icon pb-3"></i>
        <h5><span style="color: #EF6351; font-weight: bold; font-size: 20px;">Add</span></h5>
        </a>
      </div>
      <div class="col-4 text-center">
        <a routerLink="/active">
          <i class="fa-solid fa-hourglass fa-3x icon pb-3"></i>
        <h5><span style="color: #EF6351; font-weight: bold; font-size: 20px;">Active</span></h5>
        </a>
      </div>
      <div class="col-4 text-center">
        <a routerLink="/completed">
        <i class="fa-regular fa-circle-check fa-3x icon pb-3"></i>
        <h5><span style="color: #EF6351; font-weight: bold; font-size: 20px;">Completed</span></h5>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Middle of the page -->
<div class="container-fluid p-5">
  <div class="row text-center">
    <div class="col-md-6 mb-5">
      <img src="https://www.linkpicture.com/q/3_5.jfif" alt="Your Image" class="img-fluid" style="height: 300px; width: auto;">
    </div>

    <div class="col-md-6" style="align-items: flex-start; text-align: left;">
      <div style="display: flex; align-items: center;">
      <div style="background-color: #EF6351; height: 40px; width: 7px; border-radius: 2px;"></div>
      <h2 class="pt-0" style="padding-left: 10px;">Teksystems Global Services</h2>
    </div>
      <p class="pt-3 paragraph">Transformational technologies demand equally transformative partnerships. Full-stack capabilities coupled with depth and diversity of experience in leading platforms that help organizations grow, innovate and thrive. </p>
    </div>
  </div>
</div>
<!-- footer -->
<app-footer></app-footer>
</div> 


